.createpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeselection__header {
  font-size: 32px;
  margin: 20px 0;
}

.day__headers {
  height: 20px;
  display: flex;
  width: 100%;
  touch-action: none;
  padding: 0 12px;
  margin-bottom: 8px;
}

.day__headers h4 {
  width: 23%;
  margin: 0 1%;
  font-size: 14px;
  display: grid;
  place-items: center;
}

.selection__container {
  display: flex;
  width: 100%;
  touch-action: none;
  margin-bottom: 0.7rem;
  padding: 0 12px;
}

.datebox__container {
  width: 23%;
  margin: 0 1%;
  border: 2px solid black;
  border-radius: 8px;
  overflow: hidden;
}

.datebox,
.datebox__selected,
.datebox__unavailable,
.intensity__0,
.intensity__1,
.intensity__2,
.intensity__3 {
  height: 40px;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: grid;
  place-items: center;
}

.datebox__unavailable {
  background-color: gray;
  color: gray;
}

.datebox__selected {
  background-color: #91e09b;
  color: black;
}

.datebox:last-of-type,
.datebox__selected:last-of-type {
  border-bottom: none;
}

.intensity__1 {
  background-color: #e9f9eb;
}

.intensity__2 {
  background-color: #b2e9b9;
}

.intensity__3 {
  background-color: #91e09b;
}

.button_container {
  width: 100%;
  padding: 0 20px;

  display: grid;
  grid-template-columns: 4fr 3fr 1fr;
  column-gap: 10px;

  align-items: center;
  justify-content: center;

  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.flex {
  display: flex;
  justify-content: center;
}

.gear_wrapper {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 9999px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input_name {
  text-decoration: none;
  /* width: 100%; */
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 9999px;
  font: inherit;

  height: 40px;
  width: 100%;
}

.btn {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  text-decoration: none;
  border: none;

  display: flex;
  justify-content: center;
}

.btn_test {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 999px;
  background-color: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
}
