.createsuccess {
  padding: 20vh 0 15vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createsuccess__link,
.createsuccess__link:hover {
  animation: MoveUpDown 10s linear 0s infinite;
}

@keyframes MoveUpDown {
  0%,
  15%,
  30% {
    transform: translateY(0);
  }
  7.5%,
  22.5% {
    transform: translateY(-7.5px);
  }
}

.createsuccess__copiedmessage,
.createsuccess__copiedmessage__hidden {
  transition: 0.2s;
  color: #fff;
  padding: 4px 8px;
  border-radius: 6px;
}

.createsuccess__copiedmessage {
  background-color: #111;
}

.createsuccess__copiedmessage__hidden {
  user-select: none;
}
