.createpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 7.5%;
  background-color:#f8f9fa;
}

/* Title */
.createpage__title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.createpage__title > input {
  width: 90vw;
  min-width: min(100%, 400px);
  border: none;
  outline: none;
  text-align: center;
  font-size: 26px;
  color: #000000;
  letter-spacing: 0.3px;
  background-color: transparent;
}

.createpage__title > input::placeholder {
  color: #000000;
  text-align: center;
  transition: color 0.3s;
}

.createpage__title__error > input::placeholder {
  color: #ed4337;
}

/* Description */
.createpage__description {
  width: 100%;
  text-align: center;
}

.createpage__description > textarea {
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  font-size: 14px;
  resize: none;
  overflow: hidden;
  color: rgb(64, 64, 64);
  background-color: transparent;
}

/* Time selection container */
.createpage__tscontainer {
  width: max-content;
  max-width: 100%;
  background-color: #ffffff;
  border: 1px solid #dddce3;
  border-radius: 5px;
  padding: 0 55px;
  transition: border-color 0.3s;
}

.createpage__tscontainer__error {
  border: 2px solid #ed4337;
}

/* Bottom bar */
.createpage__bottombar {
  display: flex;
  column-gap: min(20px,4vw);
  margin-top: 28px;
}

.createpage__deltatimeselector {
  height: 33px;
  width: 50px;
  display: grid;
  place-items: center;
  font-size: 12px;
  background-color: #56f56e;
  border-radius: 50px;
  cursor: pointer;
}

.createpage__deltatimeselector {
  height: 33px;
  width: 50px;
  display: grid;
  place-items: center;
  font-size: 12px;
  background-color: #52F56A;
  border-radius: 50px;
  cursor: pointer;
}

.createpage__settingstoggler {
  height: 33px;
  width: 33px;
  display: grid;
  place-items: center;
  font-size: 12px;
  background-color: #52F56A;
  border-radius: 50px;
  cursor: pointer;
}

.createpage__settingstoggler > img {
  margin-top: 1.5px;
  height: 20px;
  transition: transform 0.3s ease-in-out;
}

.createpage__settingstoggler__open > img {
  margin-top: 0;
  transform: rotate(180deg);
}

/* Media queries */
@media only screen and (max-width: 500px) {
  .createpage {
    padding: 0 2.5%;
  }

  .createpage__tscontainer {
    padding: 0 30px;
  }
}







.flex {
  display: flex;
  justify-content: center;
}

.gear_wrapper {
  width: 40px;
  height: 40px;
  border: 2px solid #aaa;
  border-radius: 9999px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input_name {
  text-decoration: none;
  /* width: 100%; */
  padding: 5px 15px;
  border: 1px solid #aaa;
  border-radius: 9999px;
  font: inherit;

  height: 40px;
  width: 100%;
}

.btn {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  text-decoration: none;
  border: none;

  display: flex;
  justify-content: center;
}

.btn_test {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 999px;
  background-color: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
}

/**********************************/
/* Button container   */
/**********************************/
.button_container {
  width: 100%;
  padding: 0 20px;

  display: grid;
  grid-template-columns: 4fr 3fr 1fr;
  column-gap: 10px;

  align-items: center;
  justify-content: center;

  padding-bottom: 20px;
}