@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --rotateDegree: -25deg;
}

html,
body {
  padding: 0;
  margin: 0;
  color: #333;
  background-color: #f8f9fa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container-padding-lg {
  padding: 0 10px;
}

.container-padding-sm {
  padding: 0 2px;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.w_100 {
  width: 100%;
}

.max-width-container {
  max-width: 900px;
  margin: 0 auto;
}

/* 
Style Choices

COLORS: 
#087f5b

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


border-radius: 8px;
*/

/**************************/
/*     MEDIA QUERIES      */
/**************************/
/**********************************************/
/* ABOVE 1200px (Landscape Tablets) */
/**********************************************/
@media (min-width: 900px) {
  /* html {
    font-size: 80%;
  } */
}
