.options_container {
  border: 1px solid #333;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px;

  width: 100%;
}

.options_list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;

  gap: 20px;

  text-align: center;
  font-weight: 700;
}

/**************************/
/* BELOW 1344px */
/**************************/
@media (min-width: 900px) {
  .options_list {
    gap: 40px;
  }
}
