/* External container: to center the timeselection element */
.timeselection {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Contains the timeselection element */
.timeselection__container {
  display: flex;
  width: min-content;
  margin-bottom: 12px;
  touch-action: pan-y;
  position: relative;
}

/* Column styling */
.timeselection__datetitle {
  font-size: 15px;
  text-align: center;
  white-space: pre-line;
  margin: 0;
}

.datebox__container {
  border: 2px solid #555;
  border-radius: 6px;
  box-shadow: 0 2px 6px 1px rgba(0,0,0,0.2);
  overflow: hidden;
}

/* Slot group */
.slot_group {
  position: relative;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}

.slot_group:first-child {
  border-top: none;
}

.slot_group:last-child {
  border-bottom: none;
}

/* Dateboxes */
.datebox {
  width: 100%;
  border-top: 1px dashed #bbb;
  display: grid;
  place-items: center;
}

.datebox__unavailable {
  background-color: gray;
  color: gray;
}

.datebox__selected {
  background-color: rgb(111, 241, 130);
}

.time_str {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.timebox:first-of-type {
  /* Prevents dashed line on top */
  border-top: none;
}

/* Navigation arrows */
.timeselection__navleft,
.timeselection__navright {
  position: absolute;
  top: 6px;
  font-size: 18px;
  cursor: pointer;
  color: rgba(0,0,0,0.9);
}

.timeselection__navleft {
  left: -10px;
}

.timeselection__navright {
  right: -10px;
}

.timeselection__nav__grayed {
  color: #ccc;
  cursor:default;
}







.intensity__1 {
  background-color: #e9f9eb;
}

.intensity__2 {
  background-color: #b2e9b9;
}

.intensity__3 {
  background-color: #91e09b;
}

