/* Contains the timeselection element */
.timeselection__container {
  display: flex;
  width: min-content;
  margin-bottom: 12px;
  touch-action: pan-y;
  position: relative;
}

/* Column styling */
.timeselection__datetitle {
  font-size: 13px;
  letter-spacing: 0.3px;
  text-align: center;
  white-space: pre-line;
  margin: 0;
}

.datebox__container {
  border: 1px solid #585858;
  border-radius: 4px;
  box-shadow: 0 0.5px 1px 1px rgba(0,0,0,0.15);
  padding: 1px;
  overflow: hidden;
}

/* Slot group */
.slot_group {
  position: relative;
  border-top: 1px solid rgba(0,0,0,.4);
}

.slot_group:first-child {
  border-top: none;
}

.slot_group:last-child {
  border-bottom: none;
}

.slot_group_firstselected {
  border-top-color: transparent;
}

.slot_group_lastselected + .slot_group {
  border-top-color: transparent;
}

/* Dateboxes */
.datebox {
  width: 100%;
  border-top: 1.5px dashed #bbbb;
  display: grid;
  place-items: center;
}

.datebox__unavailable {
  background-color: #888;
}

.datebox__selected {
  background-color: #52f56a;
  border-top-color: transparent;
}

.datebox__selected + .datebox {
  border-top-color: transparent;
}

.time_str {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.3px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 98;
}

.timebox:first-of-type {
  /* Prevents dashed line on top */
  border-top: none;
}

/* Navigation arrows */
.timeselection__navleft,
.timeselection__navright {
  position: absolute;
  top: 3px;
  font-size: 16px;
  cursor: pointer;
  color: rgba(0,0,0,0.9);
  user-select: none;
}

.timeselection__navleft {
  left: -13px;
}

.timeselection__navright {
  right: -13px;
}

.timeselection__nav__grayed {
  color: #ccc;
  cursor: default;
}

/* Media queries */
@media only screen and (max-width: 800px) {
  .timeselection__datetitle, .time_str {
    font-size: 12px;
  }
}






.intensity__1 {
  background-color: #e9f9eb;
}

.intensity__2 {
  background-color: #b2e9b9;
}

.intensity__3 {
  background-color: #91e09b;
}

